<div ng-show="tab.isSet(1) && authCtrl.isAdmin">
	<div>
		<div ng-hide="pilotCtrl.pilots.length">
			<div class="alert alert-info"><strong>No pilots available</strong></div>
		</div>		
		<blockquote ng-repeat="pilot in pilotCtrl.pilots"
				    ng-mouseenter="hover = true"
				    ng-mouseleave="hover = false"
				    ng-class="{'btn-default':hover}">
			<div class="pull-right" ng-show="hover">
				<a ng-click="pilotCtrl.deletePilot(pilot)" class="btn btn-danger glyphicon glyphicon-remove"></a>
			</div>
			<p>{{pilot.username}} ({{pilot.email}})</p>
			<p>{{pilot.name}}</p>
			<ul class="list-inline">
				<li ng-repeat="license in pilot.licenses">
					<em>{{license.aircraftType.name}} (valid until: {{license.expirationDate | asDate | date:'yyyy-MM-dd'}})
					    <a class="btn-link" ng-click="createLicenseCtrl.deleteLicense(pilot, license); ">&times;</a>
					</em>
				</li>
			</ul>
			<div>
				<small><a ng-click="createLicenseCtrl.setSelectedPilot(pilot)" class="btn-link" data-toggle="modal" data-target="#createLicenseDialog">Create new license</a></small>
			</div>
		</blockquote>
		
		<div>
			<a class="btn btn-info" data-toggle="modal" data-target="#createPilotDialog">Create new pilot</a>
		</div>
	</div>
</div>

<create-pilot></create-pilot>
<create-license></create-license>

